.button {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 150px;
    margin: 1em;
    padding: 1em;
    border: solid;
    border-radius: 15px;
}

.head {
    text-align: center;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input {
    margin: 1em;
}
